In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
b1=pd.read_excel('Book1.xlsx')

In [ ]:
b3=pd.read_excel('Book3.xlsx')

In [ ]:
b5=pd.read_excel('Book5.xlsx')

In [ ]:
b4=pd.read_excel('Book(i4).xlsx')

In [ ]:
b48 = pd.read_excel("Book(i48).xlsx")

In [ ]:
b1.shape

(295881, 6)

In [ ]:
b3.shape

(295719, 4)

In [ ]:
b4.shape

(295719, 4)

In [ ]:
b48.shape

(295719, 6)

In [ ]:
b5.shape

(295719, 4)

In [ ]:
b1=b1.head(295719)
b5=b5.head(295719)

In [ ]:
b1.shape

(295719, 6)

In [ ]:
b5.shape

(295719, 4)

In [ ]:
b1.isnull().sum()

R5 (MOhm)     44262
R6 (MOhm)     44229
R7 (MOhm)     44256
R8 (MOhm)     44499
R13 (MOhm)    44209
R14 (MOhm)    44498
dtype: int64

In [ ]:
b3.isnull().sum()

R9 (MOhm)     44432
R10 (MOhm)    44400
R11 (MOhm)    44347
R12 (MOhm)    44448
dtype: int64

In [ ]:
b4.isnull().sum()

Time (s)            44147
CO (ppm)                0
Humidity (%r.h.)    44373
Temperature (C)     44083
dtype: int64

In [ ]:
b48.isnull().sum()

Flow rate (mL/min)    44277
Heater voltage (V)    44130
R1 (MOhm)             44417
R2 (MOhm)             44191
R3 (MOhm)             44387
R4 (MOhm)             44660
dtype: int64

In [ ]:
b5.isnull().sum()

R13 5               44284
R14 5               44542
Flow rate 5         44451
Heater voltage 5    44471
dtype: int64

In [ ]:
b4new=b4

In [ ]:
b4new['CO (ppm)'].value_counts()

0.0000     32195
20.0000    29316
6.6700     29281
2.2200     29268
15.5600    29260
           ...
3.4540         1
6.1100         1
10.9025        1
15.6950        1
0.1576         1
Name: CO (ppm), Length: 309, dtype: int64

DATA PRE PROCESSING

In [ ]:
b5.rename(columns={'R13 (MOhm)':'R13 5' , 'R14 (MOhm)':'R14 5','Flow rate (mL/min)':'Flow rate 5','Heater voltage (V)':'Heater voltage 5'},inplace=True)

In [ ]:
df = pd.concat([b4, b48], axis=1, join='inner')

In [ ]:
df.shape

(295719, 10)

In [ ]:
b1.shape

(295719, 6)

In [ ]:
df = pd.concat([df,b1],axis=1,join='inner')

In [ ]:
df.shape

(295719, 16)

In [ ]:
df = pd.concat([df,b3],axis=1,join='inner')

In [ ]:
b3.shape

(295719, 4)

In [ ]:
df.shape

(295719, 20)

In [ ]:
df = pd.concat([df,b5],axis=1,join='inner')

In [ ]:
b5.shape

(295719, 4)

In [ ]:
df.shape

(295719, 24)

In [ ]:
df.corr()['CO (ppm)']

Time (s)             -0.009102
CO (ppm)              1.000000
Humidity (%r.h.)     -0.105354
Temperature (C)      -0.131490
Flow rate (mL/min)    0.007975
Heater voltage (V)   -0.000403
R1 (MOhm)             0.013612
R2 (MOhm)             0.020262
R3 (MOhm)            -0.002249
R4 (MOhm)            -0.032166
R5 (MOhm)            -0.075384
R6 (MOhm)            -0.056464
R7 (MOhm)            -0.069194
R8 (MOhm)            -0.450336
R13 (MOhm)           -0.484624
R14 (MOhm)           -0.483170
R9 (MOhm)            -0.456955
R10 (MOhm)           -0.523704
R11 (MOhm)           -0.494399
R12 (MOhm)           -0.469962
R13 5                -0.506863
R14 5                -0.512601
Flow rate 5          -0.000556
Heater voltage 5      0.000205
Name: CO (ppm), dtype: float64

In [ ]:
df.drop('R13 (MOhm)',axis=1,inplace=True)
df.drop('R14 (MOhm)',axis=1,inplace=True)
df.drop('Flow rate 5',axis=1,inplace=True)
df.drop('Heater voltage 5',axis=1,inplace=True)

In [ ]:
df.shape

(295719, 20)

In [ ]:
df.rename(columns={'R13 5':'R13 (MOhm)' ,'R14 5':'R14 (MOhm)'},inplace=True)

In [ ]:
df.isnull().sum()

Time (s)              44147
CO (ppm)                  0
Humidity (%r.h.)      44373
Temperature (C)       44083
Flow rate (mL/min)    44277
Heater voltage (V)    44130
R1 (MOhm)             44417
R2 (MOhm)             44191
R3 (MOhm)             44387
R4 (MOhm)             44660
R5 (MOhm)             44262
R6 (MOhm)             44229
R7 (MOhm)             44256
R8 (MOhm)             44499
R9 (MOhm)             44432
R10 (MOhm)            44400
R11 (MOhm)            44347
R12 (MOhm)            44448
R13 (MOhm)            44284
R14 (MOhm)            44542
dtype: int64

In [ ]:
df['R1 (MOhm)'].mean()

14.979164201239948

In [ ]:
df['R1 (MOhm)'].median()

1.6487

In [ ]:
df

,Time (s),CO (ppm),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R5 (MOhm),R6 (MOhm),R7 (MOhm),R8 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm),R13 (MOhm),R14 (MOhm)
0,0.000,0.0,49.7534,23.7184,233.2737,0.8993,NaN,NaN,1.1493,NaN,1.2534,NaN,1.9906,1.3303,NaN,1.9148,3.4651,5.2144,6.5806,8.6385
1,0.309,0.0,55.8400,26.6200,241.6323,0.2112,2.1314,5.3552,9.7569,6.3188,NaN,10.5769,13.6317,21.9829,16.1902,24.2780,31.1014,34.7193,NaN,41.9167
2,0.618,0.0,55.8400,26.6200,241.3888,0.2070,10.5318,22.5612,37.2635,17.7848,33.0704,36.3160,42.5746,49.7495,31.7533,57.7289,53.6275,56.9212,47.8255,62.9436
3,0.926,0.0,55.8400,26.6200,241.1461,0.2042,29.5749,NaN,NaN,NaN,58.3847,67.5130,68.0064,59.2824,NaN,66.0832,66.8349,NaN,50.3730,NaN
4,1.234,0.0,NaN,NaN,NaN,0.2030,49.5111,67.0368,77.8317,27.9625,71.7732,NaN,79.8631,NaN,NaN,68.1441,62.0947,49.4614,52.8453,66.8445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295714,90908.545,0.0,NaN,NaN,0.0000,0.2000,5.5429,2.5713,10.3815,18.5796,36.4589,34.4549,38.3745,57.5888,45.7953,56.6351,56.4058,50.6129,43.0232,NaN
295715,90908.853,0.0,62.3000,26.5800,NaN,NaN,4.5527,2.1454,8.5494,18.0592,NaN,34.0052,37.6964,51.9752,45.0239,58.9374,61.6173,NaN,NaN,63.8761
295716,NaN,0.0,62.3000,26.5800,0.0000,0.2000,3.7374,1.8492,7.1062,NaN,NaN,32.5056,NaN,54.4724,45.0239,59.7462,57.1452,51.8182,42.5944,64.3090
295717,90909.469,0.0,62.3000,26.5800,0.0000,0.2000,3.1197,1.6190,NaN,17.6950,37.5930,30.5253,35.9328,51.9752,45.5201,57.7289,60.3791,50.3466,42.4022,62.0375
295718,90909.778,0.0,62.3000,26.5800,0.0000,0.2000,2.6417,1.4409,NaN,17.0448,35.1252,29.4024,35.2025,NaN,43.1405,58.1498,56.0760,51.5393,41.9854,47.5339

In [ ]:
df.dropna(how='all')

,Time (s),CO (ppm),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R5 (MOhm),R6 (MOhm),R7 (MOhm),R8 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm),R13 (MOhm),R14 (MOhm)
0,0.000,0.0,49.7534,23.7184,233.2737,0.8993,NaN,NaN,1.1493,NaN,1.2534,NaN,1.9906,1.3303,NaN,1.9148,3.4651,5.2144,6.5806,8.6385
1,0.309,0.0,55.8400,26.6200,241.6323,0.2112,2.1314,5.3552,9.7569,6.3188,NaN,10.5769,13.6317,21.9829,16.1902,24.2780,31.1014,34.7193,NaN,41.9167
2,0.618,0.0,55.8400,26.6200,241.3888,0.2070,10.5318,22.5612,37.2635,17.7848,33.0704,36.3160,42.5746,49.7495,31.7533,57.7289,53.6275,56.9212,47.8255,62.9436
3,0.926,0.0,55.8400,26.6200,241.1461,0.2042,29.5749,NaN,NaN,NaN,58.3847,67.5130,68.0064,59.2824,NaN,66.0832,66.8349,NaN,50.3730,NaN
4,1.234,0.0,NaN,NaN,NaN,0.2030,49.5111,67.0368,77.8317,27.9625,71.7732,NaN,79.8631,NaN,NaN,68.1441,62.0947,49.4614,52.8453,66.8445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295714,90908.545,0.0,NaN,NaN,0.0000,0.2000,5.5429,2.5713,10.3815,18.5796,36.4589,34.4549,38.3745,57.5888,45.7953,56.6351,56.4058,50.6129,43.0232,NaN
295715,90908.853,0.0,62.3000,26.5800,NaN,NaN,4.5527,2.1454,8.5494,18.0592,NaN,34.0052,37.6964,51.9752,45.0239,58.9374,61.6173,NaN,NaN,63.8761
295716,NaN,0.0,62.3000,26.5800,0.0000,0.2000,3.7374,1.8492,7.1062,NaN,NaN,32.5056,NaN,54.4724,45.0239,59.7462,57.1452,51.8182,42.5944,64.3090
295717,90909.469,0.0,62.3000,26.5800,0.0000,0.2000,3.1197,1.6190,NaN,17.6950,37.5930,30.5253,35.9328,51.9752,45.5201,57.7289,60.3791,50.3466,42.4022,62.0375
295718,90909.778,0.0,62.3000,26.5800,0.0000,0.2000,2.6417,1.4409,NaN,17.0448,35.1252,29.4024,35.2025,NaN,43.1405,58.1498,56.0760,51.5393,41.9854,47.5339

In [ ]:
dfnew=df

In [ ]:
dfnew

,Time (s),CO (ppm),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R5 (MOhm),R6 (MOhm),R7 (MOhm),R8 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm),R13 (MOhm),R14 (MOhm)
0,0.000,0.0,49.7534,23.7184,233.2737,0.8993,NaN,NaN,1.1493,NaN,1.2534,NaN,1.9906,1.3303,NaN,1.9148,3.4651,5.2144,6.5806,8.6385
1,0.309,0.0,55.8400,26.6200,241.6323,0.2112,2.1314,5.3552,9.7569,6.3188,NaN,10.5769,13.6317,21.9829,16.1902,24.2780,31.1014,34.7193,NaN,41.9167
2,0.618,0.0,55.8400,26.6200,241.3888,0.2070,10.5318,22.5612,37.2635,17.7848,33.0704,36.3160,42.5746,49.7495,31.7533,57.7289,53.6275,56.9212,47.8255,62.9436
3,0.926,0.0,55.8400,26.6200,241.1461,0.2042,29.5749,NaN,NaN,NaN,58.3847,67.5130,68.0064,59.2824,NaN,66.0832,66.8349,NaN,50.3730,NaN
4,1.234,0.0,NaN,NaN,NaN,0.2030,49.5111,67.0368,77.8317,27.9625,71.7732,NaN,79.8631,NaN,NaN,68.1441,62.0947,49.4614,52.8453,66.8445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295714,90908.545,0.0,NaN,NaN,0.0000,0.2000,5.5429,2.5713,10.3815,18.5796,36.4589,34.4549,38.3745,57.5888,45.7953,56.6351,56.4058,50.6129,43.0232,NaN
295715,90908.853,0.0,62.3000,26.5800,NaN,NaN,4.5527,2.1454,8.5494,18.0592,NaN,34.0052,37.6964,51.9752,45.0239,58.9374,61.6173,NaN,NaN,63.8761
295716,NaN,0.0,62.3000,26.5800,0.0000,0.2000,3.7374,1.8492,7.1062,NaN,NaN,32.5056,NaN,54.4724,45.0239,59.7462,57.1452,51.8182,42.5944,64.3090
295717,90909.469,0.0,62.3000,26.5800,0.0000,0.2000,3.1197,1.6190,NaN,17.6950,37.5930,30.5253,35.9328,51.9752,45.5201,57.7289,60.3791,50.3466,42.4022,62.0375
295718,90909.778,0.0,62.3000,26.5800,0.0000,0.2000,2.6417,1.4409,NaN,17.0448,35.1252,29.4024,35.2025,NaN,43.1405,58.1498,56.0760,51.5393,41.9854,47.5339

In [ ]:
time=dfnew['Time (s)'].median()

In [ ]:
time

45466.8585

FILLING NULL VALUES

In [ ]:
dfnew['Time (s)'].fillna(time,inplace=True)
dfnew.isnull().sum()

Time (s)                  0
CO (ppm)                  0
Humidity (%r.h.)      44373
Temperature (C)       44083
Flow rate (mL/min)    44277
Heater voltage (V)    44130
R1 (MOhm)             44417
R2 (MOhm)             44191
R3 (MOhm)             44387
R4 (MOhm)             44660
R5 (MOhm)             44262
R6 (MOhm)             44229
R7 (MOhm)             44256
R8 (MOhm)             44499
R9 (MOhm)             44432
R10 (MOhm)            44400
R11 (MOhm)            44347
R12 (MOhm)            44448
R13 (MOhm)            44284
R14 (MOhm)            44542
dtype: int64

In [ ]:
dfnew['Humidity (%r.h.)'].fillna(dfnew['Humidity (%r.h.)'].mean(),inplace=True)

In [ ]:
dfnew['Flow rate (mL/min)'].fillna(dfnew['Flow rate (mL/min)'].mean(),inplace=True)

In [ ]:
dfnew['Temperature (C)'].fillna(dfnew['Temperature (C)'].mean(),inplace=True)

In [ ]:
dfnew['Heater voltage (V)'].fillna(dfnew['Heater voltage (V)'].mean(),inplace=True)

In [ ]:
dfnew['R13 (MOhm)'].fillna(dfnew['R13 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R14 (MOhm)'].fillna(dfnew['R14 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R12 (MOhm)'].fillna(dfnew['R12 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R11 (MOhm)'].fillna(dfnew['R11 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R10 (MOhm)'].fillna(dfnew['R10 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R9 (MOhm)'].fillna(dfnew['R9 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R8 (MOhm)'].fillna(dfnew['R8 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R7 (MOhm)'].fillna(dfnew['R7 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R6 (MOhm)'].fillna(dfnew['R6 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R5 (MOhm)'].fillna(dfnew['R5 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R4 (MOhm)'].fillna(dfnew['R4 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R3 (MOhm)'].fillna(dfnew['R3 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R2 (MOhm)'].fillna(dfnew['R2 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew['R1 (MOhm)'].fillna(dfnew['R1 (MOhm)'].mean(),inplace=True)

In [ ]:
dfnew.isnull().sum()

Time (s)              0
CO (ppm)              0
Humidity (%r.h.)      0
Temperature (C)       0
Flow rate (mL/min)    0
Heater voltage (V)    0
R1 (MOhm)             0
R2 (MOhm)             0
R3 (MOhm)             0
R4 (MOhm)             0
R5 (MOhm)             0
R6 (MOhm)             0
R7 (MOhm)             0
R8 (MOhm)             0
R9 (MOhm)             0
R10 (MOhm)            0
R11 (MOhm)            0
R12 (MOhm)            0
R13 (MOhm)            0
R14 (MOhm)            0
dtype: int64

In [ ]:
df.isnull().sum()

Time (s)              0
CO (ppm)              0
Humidity (%r.h.)      0
Temperature (C)       0
Flow rate (mL/min)    0
Heater voltage (V)    0
R1 (MOhm)             0
R2 (MOhm)             0
R3 (MOhm)             0
R4 (MOhm)             0
R5 (MOhm)             0
R6 (MOhm)             0
R7 (MOhm)             0
R8 (MOhm)             0
R9 (MOhm)             0
R10 (MOhm)            0
R11 (MOhm)            0
R12 (MOhm)            0
R13 (MOhm)            0
R14 (MOhm)            0
dtype: int64

In [ ]:
# from sklearn.preprocessing import MinMaxScaler
# mms = MinMaxScaler()
# df[['Time (s)',	'Humidity (%r.h.)',	'Temperature (C)',	'Flow rate (mL/min)',	'Heater voltage (V)',	'R1 (MOhm)','R2 (MOhm)',	'R3 (MOhm)',	'R4 (MOhm)',	'R5 (MOhm)',	'R6 (MOhm)',	'R7 (MOhm)',	'R8 (MOhm)',	'R9 (MOhm)',	'R10 (MOhm)',	'R11 (MOhm)',	'R12 (MOhm)',	'R13 (MOhm)',	'R14 (MOhm)','CO (ppm)']] = mms.fit_transform(df[['Time (s)',	'Humidity (%r.h.)',	'Temperature (C)',	'Flow rate (mL/min)',	'Heater voltage (V)',	'R1 (MOhm)','R2 (MOhm)',	'R3 (MOhm)',	'R4 (MOhm)',	'R5 (MOhm)',	'R6 (MOhm)',	'R7 (MOhm)',	'R8 (MOhm)',	'R9 (MOhm)',	'R10 (MOhm)',	'R11 (MOhm)',	'R12 (MOhm)',	'R13 (MOhm)',	'R14 (MOhm)','CO (ppm)']])

Dropping Flow rate,Heater voltage,R3 (since, less correlation)

In [ ]:
dff= df[['Time (s)','Humidity (%r.h.)',	'Temperature (C)','R1 (MOhm)','R2 (MOhm)','R4 (MOhm)',	'R5 (MOhm)',	'R6 (MOhm)',	'R7 (MOhm)',	'R8 (MOhm)',	'R9 (MOhm)',	'R10 (MOhm)',	'R11 (MOhm)',	'R12 (MOhm)',	'R13 (MOhm)',	'R14 (MOhm)','CO (ppm)']]

In [ ]:
dff.corr()['CO (ppm)']

Time (s)           -0.008392
Humidity (%r.h.)   -0.097071
Temperature (C)    -0.121338
R1 (MOhm)           0.012549
R2 (MOhm)           0.018692
R4 (MOhm)          -0.029632
R5 (MOhm)          -0.069518
R6 (MOhm)          -0.052116
R7 (MOhm)          -0.063786
R8 (MOhm)          -0.414961
R9 (MOhm)          -0.421173
R10 (MOhm)         -0.483029
R11 (MOhm)         -0.455957
R12 (MOhm)         -0.433445
R13 (MOhm)         -0.467157
R14 (MOhm)         -0.472403
CO (ppm)            1.000000
Name: CO (ppm), dtype: float64

SPLIT TRAIN AND TEST DATA

In [ ]:
X=dff.iloc[:,:-1]
y=dff.iloc[:,-1]

In [ ]:
# dff1= df[['Temperature (C)','Heater voltage (V)','R4 (MOhm)','R9 (MOhm)',	'R10 (MOhm)',	'R11 (MOhm)',	'R12 (MOhm)',	'R13 (MOhm)',	'R14 (MOhm)','CO (ppm)']]

In [ ]:
# X=dff1.iloc[:,:-1]
# y=dff1.iloc[:,-1]

USING KNN REGRESSION MODEL

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)
knn_model = KNeighborsRegressor(n_neighbors=5).fit(X_train, y_train)
# Score
score_knn = knn_model.score(X_test, y_test)
score_knn

0.9274656396662129

In [ ]:
preds = knn_model.predict(X_test)

In [ ]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, preds)
print(r2)

0.9274656396662129

In [ ]:
dd=pd.read_csv("testing set.csv")
dd

,Time (s),Humidity (%r.h.),Temperature (C),Flow rate (mL/min),Heater voltage (V),R1 (MOhm),R2 (MOhm),R3 (MOhm),R4 (MOhm),R5 (MOhm),R6 (MOhm),R7 (MOhm),R8 (MOhm),R9 (MOhm),R10 (MOhm),R11 (MOhm),R12 (MOhm),R13 (MOhm),R14 (MOhm)
0,73298.059,60.8200,26.5400,239.9147,0.2000,1.9076,1.5491,5.0636,19.5626,NaN,27.7636,36.4079,27.1697,21.6868,25.5373,31.9314,26.9859,NaN,27.8716
1,39657.889,19.7500,26.2200,239.9795,0.2000,26.5940,36.8459,56.9725,NaN,63.4677,60.5782,64.5292,41.0575,NaN,39.8853,NaN,40.6368,40.0160,44.8085
2,NaN,18.6300,26.2200,240.0518,0.1992,18.0553,25.5357,55.9066,50.0544,69.5025,66.4281,71.3400,58.4235,51.7813,54.8161,62.9890,53.4361,52.2052,63.3641
3,60476.431,61.8184,26.6199,NaN,0.2000,0.4904,0.5267,0.6875,4.1022,3.5816,2.5614,NaN,20.9540,15.2577,17.5911,21.5547,NaN,15.2109,20.2276
4,20535.490,41.9500,26.3800,240.1657,0.2000,1.6856,1.3005,3.4241,20.9492,26.7869,18.6831,26.7960,NaN,18.0844,19.0424,23.9317,21.1555,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,15167.720,48.6900,26.3800,240.0934,0.8990,0.0905,0.1426,0.1253,NaN,0.1229,NaN,0.1307,0.0996,NaN,NaN,NaN,0.1078,0.1011,0.1067
9996,42115.221,41.4100,26.3000,240.0404,0.2000,6.1407,3.5703,18.1072,37.4095,63.0524,59.3098,NaN,64.5356,47.9178,NaN,57.5565,55.4749,52.8453,61.1567
9997,NaN,NaN,26.5000,239.8236,0.2000,13.2774,7.7470,26.2677,29.0823,47.0253,43.9737,47.7780,56.4158,49.0530,54.8161,56.8068,51.8182,NaN,NaN
9998,42155.009,41.4100,NaN,239.9119,0.2000,30.3051,26.5940,51.8946,38.8066,62.5610,67.0156,68.5895,57.2171,57.9460,62.7987,62.4980,58.8007,57.7974,67.3181
9999,10203.142,33.9900,26.3800,239.9924,NaN,4.0292,2.1784,9.0485,27.3300,39.3142,34.2948,38.8829,48.8133,40.4067,49.2128,49.3620,NaN,40.0160,53.1748

PROCESSING TEST DATA

In [ ]:
dd1= dd[['Time (s)','Humidity (%r.h.)',	'Temperature (C)','R1 (MOhm)','R2 (MOhm)','R4 (MOhm)',	'R5 (MOhm)',	'R6 (MOhm)',	'R7 (MOhm)',	'R8 (MOhm)',	'R9 (MOhm)',	'R10 (MOhm)',	'R11 (MOhm)',	'R12 (MOhm)',	'R13 (MOhm)',	'R14 (MOhm)']]

In [ ]:
dd1.isnull().sum()

Time (s)               0
Humidity (%r.h.)    1467
Temperature (C)     1504
R1 (MOhm)           1517
R2 (MOhm)           1510
R4 (MOhm)           1489
R5 (MOhm)           1491
R6 (MOhm)           1527
R7 (MOhm)           1533
R8 (MOhm)           1532
R9 (MOhm)           1505
R10 (MOhm)          1526
R11 (MOhm)          1556
R12 (MOhm)          1497
R13 (MOhm)          1478
R14 (MOhm)          1522
dtype: int64

In [ ]:
time=dd1['Time (s)'].median()
dd1['Time (s)'].fillna(time,inplace=True)

In [ ]:
dd1.isnull().sum()

Time (s)               0
Humidity (%r.h.)    1467
Temperature (C)     1504
R1 (MOhm)           1517
R2 (MOhm)           1510
R4 (MOhm)           1489
R5 (MOhm)           1491
R6 (MOhm)           1527
R7 (MOhm)           1533
R8 (MOhm)           1532
R9 (MOhm)           1505
R10 (MOhm)          1526
R11 (MOhm)          1556
R12 (MOhm)          1497
R13 (MOhm)          1478
R14 (MOhm)          1522
dtype: int64

In [ ]:
dd1['Humidity (%r.h.)'].fillna(dd1['Humidity (%r.h.)'].mean(),inplace=True)

In [ ]:
dd1['Temperature (C)'].fillna(dd1['Temperature (C)'].mean(),inplace=True)

In [ ]:
dd1['R14 (MOhm)'].fillna(dd1['R14 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R13 (MOhm)'].fillna(dd1['R13 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R12 (MOhm)'].fillna(dd1['R12 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R11 (MOhm)'].fillna(dd1['R11 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R10 (MOhm)'].fillna(dd1['R10 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R9 (MOhm)'].fillna(dd1['R9 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R8 (MOhm)'].fillna(dd1['R8 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R7 (MOhm)'].fillna(dd1['R7 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R6 (MOhm)'].fillna(dd1['R6 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R5 (MOhm)'].fillna(dd1['R5 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R4 (MOhm)'].fillna(dd1['R4 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R2 (MOhm)'].fillna(dd1['R2 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1['R1 (MOhm)'].fillna(dd1['R1 (MOhm)'].mean(),inplace=True)

In [ ]:
dd1.isnull().sum()

Time (s)            0
Humidity (%r.h.)    0
Temperature (C)     0
R1 (MOhm)           0
R2 (MOhm)           0
R4 (MOhm)           0
R5 (MOhm)           0
R6 (MOhm)           0
R7 (MOhm)           0
R8 (MOhm)           0
R9 (MOhm)           0
R10 (MOhm)          0
R11 (MOhm)          0
R12 (MOhm)          0
R13 (MOhm)          0
R14 (MOhm)          0
dtype: int64

PREDICTING

In [ ]:
predtest = knn_model.predict(dd1)

In [ ]:
sub=pd.DataFrame(predtest,columns=['CO (ppm)'])

In [ ]:
sub

      CO (ppm)
0        11.11
1         2.22
2        20.00
3        15.56
4        15.56
...        ...
9995     15.56
9996      2.22
9997     20.00
9998      2.22
9999      4.44

[10000 rows x 1 columns]

In [ ]:
sub.to_csv("submission1.csv",index=False)